# ignore google drive settings files
**/*.ini

# ignore .fsp files
*.fsp
**/*.fsp

# ignore .lsf files
*.lsf
**/*.lsf

# ignore matlab figures
**/*.eps
**/*.fig
**/*.emf
**/*.png

# ignore .mat files
**/*.mat

# ignore matlab autosave files
*.asv
*N.txt

# ignore those annoying .nfs files
*.nfs*

# un-ignore design files
!chips/45CLO_2019_03_15/design_unidir_grating/final_designs/*
!chips/45CLO_2019_03_15/design_unidir_grating/final_designs/final_20180331/*

# ignore temp .fsp file
chips/45CLO_2019_03_15/design_unidir_grating/final_designs/temp.fsp