test_scripts/scatter_str_v_ff.png
test_scripts/scatter_str_v_ff.fig
test_scripts/period_v_ff.png
test_scripts/period_v_ff.fig
test_scripts/offsets_v_ff.png
test_scripts/offsets_v_ff.fig
test_scripts/k_real_v_ff.png
test_scripts/k_real_v_ff.fig
test_scripts/k_imag_v_ff.png
test_scripts/k_imag_v_ff.fig
test_scripts/dir_v_ff.png
test_scripts/dir_v_ff.fig
test_scripts/angle_v_ff.png
test_scripts/angle_v_ff.fig
